.btns-container {
  width: 80%;
}
reviewButton {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #541388;
  color: #fff;
  padding: 10px 15px 10px 15px;
  font-size: 17px;
  font-weight: 600;
  border-radius: 7px;
  max-width: 200px;
}

@media (max-width: 500px) {
  reviewButton {
    max-width: 100%;
  }
}
